<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Gaming-Store | Cart</title>
    <link rel="shortcut icon" href="../images/Well_Played.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../style/cart.css">
</head>

<body>
    <div id="app" v-cloak>
        {{ contadorCarrito }}
        <main class="main-cart flex-grow-1 w-100">
            <section class="myCart">
                <h1>Your cart - {{cantidadTotalProductos}} products</h1>
                <button class="btn-cart btn-removeAll" @click="vaciarCarrito">remove all products <i
                        class="bi bi-trash3-fill"></i></button>
                <!-- <template v-if="carrito.length > 0" v-for="producto in carrito"> -->
                <section class="product-card">
                    <img src="../images/headphones1.webp" class="img-product" alt="">
                    <h4>Nombre del procuto</h4>
                    <div class="btns-cart">
                        <button class="btn-cart" @click="removeFromCart(producto.id)"><i
                                class="bi bi-cart-dash"></i></button>
                        <p class="fw-bold mt-4 fs-4">2</p>
                        <button class="btn-cart" @click="addToCart(producto.id)"><i
                                class="bi bi-cart-plus"></i></button>
                    </div>
                    <span class="price">$210.400</span>
                </section>
                <!-- </template> -->
            </section>
            <div class="container-payments-summary">
                <section class="payments">
                    <h4 class="text-center">Select the payment method <i class="bi bi-credit-card"></i></h4>
                    <div class="radio-buttons-container">
                        <div class="radio-button">
                            <input name="radio-group" id="radio2" class="radio-button__input" type="radio" disabled>
                            <label for="radio2" class="radio-button__label">
                                <span class="radio-button__custom"></span>
                                CASH / BANK TRANSFER
                            </label>
                        </div>
                        <div class="radio-button">
                            <input name="radio-group" id="radio1" class="radio-button__input" type="radio">
                            <label for="radio1" class="radio-button__label">
                                <span class="radio-button__custom"></span>
                                VIRTUAL CARD OR WALLET
                            </label>
                        </div>
                    </div>
                </section>
                <section class="summary">
                    <h4 class="text-center mb-4">Summary of your purchase <i class="bi bi-1 bi-cart2"></i></h4>
                    <div class="finaly">
                        <p class="w-50 text-secondary fw-bold fs-6"><span>Subtotal</span></p>
                        <p class="w-50 text-end text-secondary fw-bold fs-6"><span>$200.000</span></p>
                    </div>
                    <div class="finaly">
                        <p class="w-50 text-secondary fw-bold fs-6"><span>IVA%</span></p>
                        <p class="w-50 text-end text-secondary fw-bold fs-6"><span>$200.000</span></p>
                    </div>
                    <div class="finaly">
                        <p class="w-50 fw-bold fs-4"><span>Total</span></p>
                        <p class="w-50 text-end fw-bold fs-4"><span>$200.000</span></p>
                    </div>
                    <button class="btn-finalize">FINALIZE PURCHASE</button>
                </section>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../scripts/cart.js"></script>
</body>

</html>